In [1]:
import pandas as pd
import numpy as np

from modules.seed_germination_parameters import MGT, GP, Z
from modules.stat_test import tStudent_test, Mann_Whitney_U_test

In [2]:
bare_rock_data = pd.read_csv('br.csv')
bare_rock_data.drop('target', axis=1, inplace=True)
bare_rock_data.head()

,2022-03-03 00:00:00,2022-03-04 00:00:00,2022-03-05 00:00:00,2022-03-06 00:00:00,2022-03-07 00:00:00,2022-03-08 00:00:00,2022-03-09 00:00:00,2022-03-10 00:00:00,2022-03-11 00:00:00,2022-03-12 00:00:00,...,2022-03-22 00:00:00,2022-03-23 00:00:00,2022-03-24 00:00:00,2022-03-25 00:00:00,2022-03-26 00:00:00,2022-03-27 00:00:00,2022-03-28 00:00:00,2022-03-29 00:00:00,2022-03-30 00:00:00,2022-03-31 00:00:00
0,0,0,1,14,11,12,3,3,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,2,14,22,4,2,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,1,8,14,14,4,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,3,19,9,8,3,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,6,7,12,9,5,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
bare_rock_data.fillna(0, axis=1, inplace=True)

In [4]:
top_soil_data = pd.read_csv('ts.csv')
top_soil_data.drop('target', axis=1, inplace=True)
top_soil_data.head()

,2022-03-03 00:00:00,2022-03-04 00:00:00,2022-03-05 00:00:00,2022-03-06 00:00:00,2022-03-07 00:00:00,2022-03-08 00:00:00,2022-03-09 00:00:00,2022-03-10 00:00:00,2022-03-11 00:00:00,2022-03-12 00:00:00,...,2022-03-22 00:00:00,2022-03-23 00:00:00,2022-03-24 00:00:00,2022-03-25 00:00:00,2022-03-26 00:00:00,2022-03-27 00:00:00,2022-03-28 00:00:00,2022-03-29 00:00:00,2022-03-30 00:00:00,2022-03-31 00:00:00
0,0,0,0,2,5,3,0,0,0,1,...,4.0,3.0,0.0,3.0,2.0,0.0,2.0,0.0,0.0,0.0
1,0,0,0,1,5,5,0,0,0,0,...,4.0,1.0,3.0,3.0,1.0,1.0,0.0,0.0,0.0,1.0
2,0,0,1,5,7,3,1,0,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,4,11,5,0,2,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0,0,0,0,7,12,7,5,5,1,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [5]:
top_soil_data.fillna(0, axis=1, inplace=True)

## Seeds collected on a bare rock

In [6]:
mgt_br = MGT(bare_rock_data)
mgt_br

5.747593582887701

In [7]:
gp_br = GP(bare_rock_data, 50*bare_rock_data.shape[0])
gp_br

Ng = 935.0

93.5

In [8]:
z_br = Z(bare_rock_data)
z_br

0.21371136735792234

## Seeds collected on a top soil

In [9]:
mgt_ts = MGT(top_soil_data)
mgt_ts

7.932285368802902

In [10]:
gp_ts = GP(top_soil_data, 50*top_soil_data.shape[0])
gp_ts

Ng = 827.0

82.69999999999999

In [11]:
z_br = Z(top_soil_data)
z_br

0.16074027012071404